body {
  font-family: 'PT Sans', serif;
  /* font-family: 'Josefin Slab', serif; */
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

.helloMessage {
  padding: 30px;
  width: 30%;
  margin: auto auto;
}
@media (max-width: 991.98px) {
  .helloMessage {
    padding: 15px;
    width: 80%;
    margin: auto auto;
  }
}
@media (min-width: 991.98px) {
  .viewButton {
    float: right;
  }
}
#projects img {
  display: block;
  margin: auto auto;
  transition: 0.3s;
  -webkit-box-shadow: 0px 3px 10px -2px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 0px 3px 10px -2px rgba(255, 255, 255, 0.7);
  box-shadow: 0px 3px 10px -2px rgba(255, 255, 255, 0.7);
}
#projects img:hover {
  -ms-transform: translate(0px, -5px);
  -webkit-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
}
.contact ul {
  color: white;
  text-decoration: none;
  font-size: 3em;
  list-style-type: none;
}
.contact li {
  margin-left: 0;
  margin-right: 20px;
  cursor: pointer;
}
.expertise {
  color: black;
}
.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  /* grid-template-columns: auto; */
}
.card {
  color: black;
  background-color: white;
}
.card .card-body {
  padding: 0.5rem;
}
.card-body h5 {
  margin-bottom: 0;
}
.col-lg-6 {
  margin-bottom: 2rem;
}

.viewButton {
  margin-right: 1rem;
  border-color: white;
  border-radius: 5px;
  padding: 8px;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  -webkit-box-shadow: 0px 3px 10px -2px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 0px 3px 10px -2px rgba(255, 255, 255, 0.7);
  box-shadow: 0px 3px 10px -2px rgba(255, 255, 255, 0.7);
}

#particles-js {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.viewButton:hover {
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  -ms-transform: scale(0.9, 0.9);
  -webkit-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}
